#home_content
{
	display:table;
	width:100%;
	height:100%;
}

#game_nav
{
	display:table-cell;
	width:20%;
	height:100%;
	overflow:auto;
	background-color:#16191E;
	position:fixed;
}

#ranking_content
{
	display:table-cell;
	width:70%;
}

.game_list_item
{
	border-radius:0 !important;

	h4
	{
		text-align:center;
	}
}

.ranking_content_container
{
	padding-left:5em;
}
